# This is Git's per-user configuration file.
[user]
name = Paul OHL
email = paul.lv.ohl@gmail.com
	useConfigOnly = true
[init]
	defaultBranch = master
[pull]
	rebase = false
[core]
	excludesfile = /home/pohl/.gitignore_global
