* {
  font-family: "Mononoki Nerd Font", bold;
  font-size: 20px;
}

window#waybar {
  background: rgba(20, 20, 20, 0.9);
  color: #cdd6f4;
}

.modules-right {
  padding-right: 12px;
}

.modules-center {
  margin-right: 550px;
}

#bluetooth, #clock, #tray {
  padding: 0 10px;
}

#bluetooth.connected {
  color: #89b4fa;
}

#workspaces button {
  padding: 0 6px;
  color: #6c7086;
  background: transparent;
  border: none;
}

#workspaces button.active {
  color: #cdd6f4;
}

#workspaces button.urgent {
  color: #f38ba8;
}
