# This is Git's per-user configuration file.
[user]
name = Paul OHL
email = paul.lv.ohl@gmail.com
    useConfigOnly = true
[init]
    defaultBranch = main
[pull]
    rebase = false
[core]
    excludesfile = /home/astro/.gitignore_global
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    # dark = true      # or light = true, or omit for auto-detection

[merge]
    conflictstyle = zdiff3
